@import '@/scss/variable.scss';

html,
body {
  background-color: white;
}

*::selection {
  background: $primary_monotone;
  color: white;
}

.sub-content {
  color: $secondary_text_color;
}

a, a:hover, a:focus {
  color: $primary_green;
  transition: color .25s;
  &:hover {
    color: $secondary_green;
  }
}
