// color
$primary_green: #00B900;
$secondary_green: #00D16C;
$primary_monotone: #444444;
$secondary_monotone: #FAFAFA;
$primary_text_color: #2B2B2B;
$secondary_text_color: rgba($primary_text_color, .6);